.jumbo-flex {
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    /* background:url(../../img/imgcarousel.jpg) fixed; */
    background-size: cover;
    background-color: papayawhip;
    font:600 16px/18px 'Open Sans',sans-serif;
    border-radius: 10px;
}
.btn.btn-warning.btn-lg {
    margin-right: 5px;
    margin-left: 5px;
}
.text-list {
        text-align: center;
    font-family: 'Averia Libre',Montserrat, Cursive;
    margin-top: 40px;
    margin-bottom: 10px;
}
.img-border{
    width: 50%;
    border-radius: 50px;

}