.pt-4, .py-4 {
    color: white;
    padding-top: 1.5rem!important;
    background-color:rgb(85, 189, 132, 1.0);
    margin-top: 0px;
    margin-bottom: 0px;
    opacity: 1.0;
    padding-bottom: opx;
}

.pt-3, .py-3 {
    padding-top: 0px;
    padding-bottom: 0px;
}