body {
  margin: 0;
  font-family: 'Averia Libre',Montserrat, Cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Averia Libre',Montserrat, Cursive;
}
